@model VG.Profissional.Aplicacao.ViewModels.CurriculoViewModel

@{
    ViewBag.Title = "Detalhes do Currículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

        <!--Contatos-->
        <h4>Contatos</h4>

        <dt>
            @Html.DisplayNameFor(model => model.Contato.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato.LinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.LinkedIn)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CurriculoId }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
