@model VG.Profissional.Aplicacao.ViewModels.CompetenciaViewModel

@{
    ViewBag.Title = "Detalhes de Competência";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curriculo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curriculo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelMaturidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelMaturidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnosExperiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnosExperiencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaUtilizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaUtilizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CompetenciaId }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
